<!DOCTYPE html>
<html lang="en">

<title>Dating Images</title>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link href="styles/main.css" rel="stylesheet" type="text/css">

<body>

    <h1><strong>Dating</strong></h1>

    <img src=img/realHeart.jpg>
    <img src=img/touchingQuotes.jpg>

    <div class = "NavBar">
        <ul>
            <div class="dropdown">
                <button class="dropbtn">Select Category</button>
                <div class="dropdown-content">
                    <a href="casual.html">Casual</a>
                    <a href="dating.html">Dating</a>
                    <a href="professional.html">Professional</a>
                </div>
            </div>

            <li style="float:right"><a href="results.html">View Results</a></li>
            <li style="float:right"><a href="vote.html">Start a Vote</a></li>
        </ul>
    </div>

</body>
</html>