<html lang="en">
<body>
<form action="" method="POST" id="loginform" style="border:1px solid #ccc">

  <div class="container">
    <h1>Login to Your Account</h1>
    <hr>
    <br>
    <label><b>Email</b></label>
    <input type="text" placeholder="Enter Username" name="username" required value="{{request.form.username}}">
    <br>
    <label><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required value="{{request.form.password}}">
    <br>
    <label><b>Repeat Password</b></label>
    <input type="password" placeholder="Repeat Password" name="psw-repeat" required>
    <br>
    <br>
    <label>
      <input type="checkbox" checked="checked" style="margin-bottom:15px"> Remember me
    </label>

    <div class="clearfix">
      <button type="submit" class="signupbtn">Log in</button>
    <p> Don't have an account? </p>
      <button type="button" class="signupbtn">Sign up here!</button>
    </div>
    <p>{{error}}</p>
  </div>
</form>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</body>
</html>