<!DOCTYPE html>
<html lang="en">

<title>Photo Voter</title>

<meta charset="UTF-8">
<link href="styles/main.css" rel="stylesheet" type="text/css">

    <div class = "NavBar">
        <ul>
            <li style="float:left"><a href="#">Home</a></li>
            <li style="float:left"><a href="#">Categories</a></li>

            <li style="float:right"><a href="#">Register</a></li>
            <li style="float:right"><a href="#">Login</a></li>
        </ul>
    </div>

    <div class="container darken-pseudo darken-with-text">
        <p>Hello world!</p>
    </div>

</html>